# Token 密码（用于生成和验证 token）
EASTLAUGH_TOKEN_PWD=your_secret_token_password_here

# DeepSeek API Key
DEEPSEEK_API_KEY=sk-your-deepseek-api-key-here

# MongoDB 连接字符串
EASTLAUGH_MONGODB_URI=mongodb+srv://<db_username>:<db_password>@<cluster-url>?retryWrites=true&w=majority

# HTTP 地址
EASTLAUGH_ADDR=:8080


# 用于 docker compose